{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Request submitted",
        html: "Your reference number<br><strong>HDJ2123F</strong>"
      }) }}

      <p>
        We have sent you a confirmation email.
      </p>

      <p>
        Please quote your reference number when contacting us about this request.
      </p>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <ol class="govuk-list govuk-list--number">
        <li>We will review your request</li>
        <li>We will route it to the appropriate team</li>
        <li>We may contact you if we need more information</li>
        <li>We will keep a record of the outcome</li>
      </ol>

      <h2 class="govuk-heading-m">
        If you have suggested an improvement
      </h2>

      <p class="govuk-body">
        We will review all requests, but submitting a request does not guarantee a change will be made.
      </p>

      <p class="govuk-body">
        Suggestions are considered alongside user needs, priorities, delivery capacity and strategic objectives.
      </p>

      <p>
        <a href="#">
          What did you think of this service?
        </a> (takes 30 seconds)
      </p>

      {{ govukButton({
        text: "Start a new request",
        href: "start-page"
      }) }}

    </div>
  </div>

{% endblock %}
