{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirmation page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Request submitted",
        html: "Your reference number<br><strong>HDJ2123F</strong>"
      }) }}

      <p class="govuk-body">
        We have sent you a confirmation email.
      </p>

      <p class="govuk-body">
        Include your reference number when contacting us about this request.
      </p>

      <h2 class="govuk-heading-m">
        What happens next
      </h2>

      <p class="govuk-body">
        We will:
      </p>

      <ol class="govuk-list govuk-list--bullet">
        <li>review your request</li>
        <li>route it to the appropriate team</li>
        <li>contact you if we need more information</li>
        <li>keep a record of the outcome</li>
      </ol>

      <h2 class="govuk-heading-m">
        If you have suggested an improvement
      </h2>

      <p class="govuk-body">
        We review all requests. Submitting a request does not guarantee the change will be made.
      </p>

      <p class="govuk-body">
        Suggestions are considered alongside user needs, priorities, delivery capacity and strategic objectives.
      </p>

      <p class="govuk-body">
        Complete a feedback form to <a href="#">tell us what you think of this service</a> (takes 30 seconds).
      </p>

      {{ govukButton({
        text: "Start a new request",
        href: "start-page"
      }) }}

    </div>
  </div>

{% endblock %}
