{% extends "layouts/main.html" %}

{% block pageTitle %}
  Which service is your request for? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{# {% block containerStart %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %} #}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="request-about" method="post">

        {{ govukCheckboxes({
          name: "which-service",
          fieldset: {
            legend: {
              text: "Which service is your request for?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select one or more services that your request is for"
          },
          items: [
            {
              value: "reep",
              text: "Record Engagement with Education Providers (REEP)",
              checked: checked("which-service", "reep")
            },
            {
              value: "complete",
              text: "Complete Conversions and Transfers (Complete)",
              checked: checked("which-service", "complete")
            },
            {
              value: "eat",
              text: "External Applications - Academy Transfers (EAT)",
              checked: checked("which-service", "eat")
            },
            {
              value: "vcc",
              text: "Vulnerable Children's Casework (VCC)",
              checked: checked("which-service", "vcc")
            },
            {
              value: "fast",
              text: "Find Information about Schools and Trusts (FAST)",
              checked: checked("which-service", "fast")
            },
            {
              value: "mfsp",
              text: "Manage Free School Projects (MFSP)",
              checked: checked("which-service", "mfsp")
            },
            {
              value: "manage-school-improvement",
              text: "Manage School Improvement (MSI)",
              checked: checked("which-service", "manage-school-improvement")
            },
            {
              value: "prepare",
              text: "Prepare Conversions and Transfers (Prepare)",
              checked: checked("which-service", "prepare")
            },
            {
              value: "recast",
              text: "Record Concerns and Supports for Trusts (RECAST)",
              checked: checked("which-service", "recast")
            },
            {
              divider: "or"
            },
            {
              value: "something-new",
              text: "Something new",
              hint: {
                text: "None of the services above match your request"
              },
              checked: checked("which-service", "something-new")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}

{# {
  value: "all-services",
  text: "All services",
  hint: {
    text: "Your request relates to all or most of the services listed"
  },
  checked: checked("which-service", "all-services")
}, #}
