{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block govukHeader %}

<header class="govuk-header" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
      <div class="govuk-header__logo">
        <a href="#" class="govuk-header__link govuk-header__link--homepage">
            <img src="/public/images/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype">
        </a>
      </div>
  </div>
</header>

{% endblock %}