{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% from "includes/uir-footer-macro.njk" import uirFooter %}

{% block govukHeader %}

    <header class="govuk-header" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
            <a href="#" class="govuk-header__link govuk-header__link--homepage">
                <img src="/public/images/department-for-education_white.png" alt="Department for Education" class="govuk-header__logotype">
            </a>
        </div>
    </div>
    </header>

{% endblock %}

{% block mainContent %}

Main content will be replaced in here.
    
{% endblock %}

{% block govukFooter %}

  {% set getStartedHtml %}
    <p class="govuk-body govuk-!-margin-bottom-4">
      Use this service to suggest an improvement or report a problem.
    </p>
    {{ govukButton({
      text: "Create a request",
      href: "what-you-need",
      classes: "govuk-button--secondary"
    }) }}
  {% endset %}

  {{ uirFooter({
    navigation: [
      {
        title: "Submit a request",
        headingClasses: "govuk-heading-m",
        width: "one-half",
        html: getStartedHtml | trim
      }
    ],
    meta: {
      items: [
        {
          href: "#",
          text: "Accessibility"
        },
        {
          href: "#",
          text: "Cookies"
        },
        {
          href: "#",
          text: "Privacy"
        }
      ]
    }
  }) }}

{% endblock %}